.body{
			padding: 20px;
			padding-top: 0;
			overflow: hidden;
			/*margin-left: 10px;*/
			background-color: #fff;
			/*margin-right: 10px;*/
		}
		img{
			width: 16px;
			height: 16px;
			margin:0 5px;
		}

		.title{
			color: #363636;
			font-size: 13px;
		}
		.content{
			font-size: 13px;
		}

		.preserve,
		.cancel{
			margin-top:20px;
			/*width: 	70px;*/
			/*height:30px;*/
			border-radius: 4px;
			color: #fff;
			font-size: 13px;
			line-height: 30px;
			text-align: center;
			cursor:pointer;
			float:left;
		}
		.cancel{
			margin-left: 20px;
		}
		.clear{
			clear: both;
		}
		.input_text{
			height: 37px;
			/*width: 300px;*/
			border: 1px solid #e0e0e0;
			padding:0;
		}
		.screen_department{
			padding: 5px 0;
			border: 1px solid #e0e0e0;
			height: 35px;
			width: 145px;
		}
		.screen_department option{
			margin: 5px 10px;
			/*border: 1px solid #e0e0e0;*/
		}
		.form-group{
			width: 250px;
			margin-bottom:0;
			float: left;
		}

		input::-webkit-input-placeholder {
			color: #aeaeae; 
		} 
		input:-moz-placeholder {
			color: #aeaeae; 
		} 
		input::-moz-placeholder {
			color: #aeaeae; 
		} 
		input:-ms-input-placeholder {
			color: #aeaeae; 
		} 
		.input_text{
			height: 37px;
			/*width: 300px;*/
			border: 1px solid #e0e0e0;
			padding:0 10px;
		}