.body{
		padding:15px 20px;
		font-size: 13px;
	}
	.title{
		color: #aeaeae;
		font-size: 13px;
		margin-top:20px;
	}
	.content{
		font-size: 13px;
		margin-top:10px;
	}
	.preserve,
	.cancel{
		margin-top:30px;
		width: 	70px;
		height:30px;
		border-radius: 4px;
		color: #fff;
		font-size: 13px;
		line-height: 30px;
		text-align: center;
		cursor:pointer;
		float:left;
	}

	.cancel{
		margin-left: 20px;
	}

	.preserve a,
	.cancel a{
		display: block;
		background-color: #4a93ea;
		width: 100%;
		height:100%;
		border-radius: 4px;
		color: #fff;
	}
	.cancel a{
		background-color: #f1f1f1;
		color:#000;
	}

	.preserve a:hover,
	.cancel a:hover{
		background-color: #1a6fd7;
		text-decoration: none;
	}
	.cancel a:hover{
		background-color: #e4e4e4;
	}
